.button-layout {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #333;
  }
  
  .button-layout button {
    font-size: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #e29797;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }